
body{
    margin: 0;
    display: flex;
}

/* Sidebar styles start here*/

.sidebar-container{
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(93, 178, 207);
    color: white;
}

.option{
    font-size: 2.5rem;
}

.option-container > .option:hover{
    text-decoration: underline;
    cursor: pointer;
}

.bottom-option-container > .option:hover{
    text-decoration: underline;
    cursor: pointer;
}

.name-container{
    flex: 0.2;
}

.option-container{
    flex: 2;
    width: 100%;
}

.bottom-option-container{
    flex: 2;
    width: 100%;
}

.header-container{
    display: grid;
    width: 100%;
    flex: 2;
    background-color: yellow;
}

.svg-container{
    border: 3px solid;
    display: flex;
}

/*Sidebar styles end here*/

.main-content-container{
    width: 100%;
    flex: 8;
    background-color: black;
    display: grid;
}

.middle-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 4;
}